<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sumo Jerky Website">
    <link rel="shortcut icon" href="{{ 'images/favicon.ico' | asset_url }}">
    <title>Beef Jerky Diet</title>
    <!-- New-Business CSS --> {{ 'css/new-business.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    
    <div class="container-fluid">
      <nav class="navbar" role="navigation">
        <a>{{ 'images/Jerky_Sumo_Logo.png' | asset_url | img_tag(alt="Logo", class="img-logo") }}</a>
        <ul class="nav navbar-right" >
          <div class="mobile">
            <li class="leadm" ><a href="/diet-start">Start now.</a></li>
          </div>
          <div class="desktop">
            <li class="leadm" ><a href="/diet-start">See pricing & start first month</a></li>
          </div>
        </ul>
      </nav>
    </div>
    
    <div class="container-fluid">
      
      <div class="row" align="center">
        <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
          
          {{ 'images/couch.png' | asset_url | img_tag(alt="Conference Call", class="img-responsive") }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
          <h1 align = "center" style="font-weight:900">Lose 10 pounds a month on a beef jerky diet.</h1>
        </div>
      </div>
      
      <br>
      
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <div class="sec">
            <div class=" col-sm-3 col-xs-3 ">
              {{ 'images/Ryan_L.jpg' | asset_url | img_tag(alt="CEO", class="media-object img-circle img-thumbnail") }}
            </div>
            <div class=" col-sm-9 col-xs-9">
              <p class="leadr"><strong>Hi, I'm Ryan Luedecke, CEO of SumoJerky</strong>, here to tell you about an amazing way to lose 10 pounds a month while enjoying some of the best beef jerky in the world. If you want to lose that belly fat, fit in those jeans, or just tone up a little for the poolside crowd, then keep reading.</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2 style="font-weight:900">A Few Questions for You</h2>
          <ul>
            <li class="lead">Are you interested in losing weight, but still want to be able to snack anytime?</li>
            <li class="lead">Do you prefer to diet in private and then let your results speak for themselves?</li>
            <li class="lead">Do you LOVE beef jerky but aren't sure that it's compatible with your weight loss goals?</li>
          </ul>
          <p class="lead">If so, then I'm excited to tell you more about why the SumoJerky diet is absolutely perfect for people like me and you.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2 style="font-weight:900">You get a simple diet plan, and my guarantee. </h2>
          <p class="lead">I've handwritten a diet plan for you that I'll email you immediately after you sign up. It's the same plan I use to stay lean despite...</p>
            <ul>
              <li>Working a sedentary, stay-at-home job.</li>
              <li>Having an inconsistent, "on-and-off" exercise routine.</li>
              <li>Frequently binging on chips & salsa -- my all time favorite snack. </li>
            </ul>

            <p class="lead">You'll lose ten pounds and it doesn't require any weird exercises, awkward in-person meetings, or nasty meal replacement drinks.</p>

            <p class="lead">You basically use the beef jerky we send you as a snack replacement in times where you might otherwise eat something that would make you fat.</p>

            <p class="lead">If you follow my diet plan closely, I'll guarantee you'll lose 10 pound a month. If you don't hit your monthly weight loss goal, I'll give your money back that month. I'll even eat the shipping costs.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2 style="font-weight:900">You get beef jerky that makes you feel full and leans you out. </h2>
          <p class="lead">Vegetables are great, but I swear I can eat a thousand green beans and never feel full.</p>
          <p class="lead">SumoJerky solves that problem. It's dense in calories so it makes you feel full and gives you energy. It's also super low carb and low sugar, so it doesn't make you fat.</p>
          <p class="lead">We ship you a monthly supply of beef jerky that matches up perfectly with your weight loss goals.</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2 style="font-weight:900">You get artisan-made, craft beef jerky that's both healthy and delicious.</h2>
          <p class="lead">This isn't cheap, gas station jerky. We handpick the best flavors from the highest-rated jerky chefs in the US and send it to you. Here are a few of the brands that we've delivered to our members.</p>
        </div>
      </div>
      
      
      <div class="row">
        <div class="col-md-2 col-md-offset-1 col-sm-4">
          {{ 'images/jerknpickle.png' | asset_url | img_tag(alt="Jerk N Pickle") }}
          <h5 style="font-weight:900; text-indent:10px">Chef David Yosso</h5>
          <ul>
            <li>Angus beef</li>
            <li>House-brewed marinades</li>
            <li>Local fresh ingredients</li>
            <li>No sugar</li>
            <li>No added preservatives</li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-4">
          {{ 'images/driedandtrue.png' | asset_url | img_tag(alt="Dried and True") }}
          <h5 style="font-weight:900; text-indent:10px">Chef Matt Lauster</h5>
          <ul>
            <li>USDA beef</li>
            <li>Less than 5g sugar per serving</li>
            <li>No artificial flavors or colors</li>
            <li>No nitrates no MSG</li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-4">
          {{ 'images/grandpas.png' | asset_url | img_tag(alt="Grandpas") }}
          <h5 style="font-weight:900; text-indent:10px">Chef Jacob Piercy</h5>
          <ul>
            <li>Select, butcher cuts</li>
            <li>Handmixed ingredients</li>
            <li>Tender, 5-star rated</li>
            <li>No corn syrup</li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-4">
          {{ 'images/jontyjacobs.png' | asset_url | img_tag(alt="Jonty Jacobs") }}
          <h5 style="font-weight:900; text-indent:10px">Chef Monique St. Luce</h5>
          <ul>
            <li>South Africa-style biltong</li>
            <li>Grass-fed beef</li>
            <li>Tender cuts</li>
            <li>No chemicals or additives</li>
            <li>No nitrites</li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-4">
          {{ 'images/sweetmeat.png' | asset_url | img_tag(alt="Sweet Meat") }}
          <h5 style="font-weight:900; text-indent:10px">Chef George Livingston</h5>
          <ul>
            <li>Grass-fed, organic beef</li>
            <li>Organic herbs &amp; spices</li>
            <li>Gluten-free
              <li>All natural, no preservatives</li>
              <li>Funded via Kickstarter</li>
            </ul>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <p class="lead">There are two to four servings of jerky in every bag (a serving is one ounce). All the jerky is minimally processed and minimally preserved. Each bag of jerky has less than 5 grams of sugar per serving.</p>
          </div>
        </div>

        
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h2 style="font-weight:900">You'll stick to the SumoJerky diet.</h2>
            <p class="lead">SumoJerky automates your jerky supply for you. We ship it to you once a month, like clockwork. Don’t be stubborn and mess up your diet like I have before. Do the SumoJerky diet and make sure you always have jerky on hand. </p>
            <p class="lead">Set it and forget it. Absolutely perfect if you're trying to stick to any kind of low carb diet. </p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h2 style="font-weight:900">Stay productive, longer.</h2>
            <p class="lead">Do you ever find yourself working long hours on something you love only to realize that you hardly ate a thing AND don’t have any snacks around?</p>
            <p class="lead">This used to happen to me all the time.</p>
            <p class="lead">With SumoJerky you'll always have a bag of jerky next to your workspace and can eat a few pieces when you’re starving. You don’t have to stop what you’re doing and risk falling out of your peek productive state.</p>
            <p>{{ 'images/nov-delivery.png' | asset_url | img_tag(alt="November Jerky Delivery", class="img-responsive") }}</p>
            <p class="lead">It’s been a lifesaver for me when I’m writing something or doing some web development and don’t want to quit. I personally use this “snack hack” to help me manage SumoJerky with nothing more than a laptop and a few emergency bags of jerky next to me everyday.</p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h2 style="font-weight:900">Join over 330 happy members</h2>
            <p class="lead">SumoJerky delivers surprise flavors of delicious beef jerky to your door, once a month. It's perfect if you'd rather not spend hours researching jerky flavors, ingredients, prices, etc. We make sure you have healthy jerky on hand when you need it.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-lg-offset-1 col-md-4 col-sm-6 col-xs-12">
            {{ 'images/Testimonial_-_Mathiau.jpg' | asset_url | img_tag(alt="Customer Mathieu Savage", class="responsive") }}
          <blockquote>This jerky was outstanding. Great flavor and balance, easily one of the best i've tasted."</blockquote>
          <h4>Mathieu Savage<br />Montreal, CA</h4>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
          {{ 'images/Testimonial-Dan-R.jpg' | asset_url | img_tag(alt="Customer Dan Russell") }}
        <blockquote class="speech-bubble">Thanks for giving a decent amount in each package - it's MUCH appreciated!</blockquote>
        <h4>Dan Russell<br /><span class="address">Englewood, NJ</span></h4>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        {{ 'images/Testimonial_-_BrunoA.jpg' | asset_url | img_tag(alt="Customer Bruno Azenha") }}
      <blockquote class="speech-bubble">The Peppered jerky is delicious! I love how you can see the pepper seeds and enjoy all of their flavor!"</blockquote>
      <h4>Bruno Azenha<br />Brooklyn, NY</h4>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
      {{ 'images/Testimonial_-_Scott.jpg' | asset_url | img_tag(alt="Customer Scott Swedberg") }}
    <blockquote class="speech-bubble">I ate the first bag of Sriracha jerky in one sitting...I couldn't stop. Delicious."</blockquote>
    <h4>Scott Swedberg<br />Chicago, IL</h4>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    {{ 'images/Testimonial-Katie_L.jpg' | asset_url | img_tag(alt="Customer Katie Letourneau") }}
  <blockquote class="speech-bubble">I was so stoked to get jerky with pineapple! It was an awesome twist on just regular jerky :)"</blockquote>
  <h4>Katie Letourneau<br />Edmonton, CA</h4>
</div>
</div>

<div class="row">
<div class="col-md-6 col-md-offset-3">
  <h2 style="font-weight:900">Show off your most attractive traits</h2>
  <p class="lead">If you’ve studied some psychology, you know that much of what we buy isn’t just about utility, it’s also about signaling. Besides losing ten pounds a month and looking awesome, here’s what a SumoJerky membership says specifically about you:</p>
  <ol>
    <li class="lead"><strong>You’re successful</strong> -- I’m going to be real here. Most people cannot afford to eat beef jerky regularly, much less invest in the highest quality beef jerky in the world.</li>
    <li class="lead"><strong>You’re health-conscious</strong> -- This is proven to be one of THE most attractive traits that you can signal to potential mates. And, smart people understand that jerky helps you get lean.</li>
    <li class="lead"><strong>You’re adventurous</strong> -- Some people are nitpicky and regimented about their food, but you’re willing to take risks and try new surprise flavors every month.</li>
  </ol>
  <p class="lead">Intentionally, we prioritize jerky with nice packaging so that it looks good and becomes an icebreaker if left out on your coffee table.</p>
</div>
</div>

<br>
<div class="row" align="center">
<div class="col-md-6 col-md-offset-3">
  <a class="nodec desk" href="/diet-start"><button class="btn-blue btn-block">Give SumoJerky a try</button></a>
  <a class="nodec mob" href="/diet-start"><button class="btn-blue btn-block">Give SumoJerky a try </button></a>
</div>
</div>

<br><br>

<footer>
<div align="center">{{ 'images/cannon.png' | asset_url | img_tag(alt="cannon", class="img-responsive") }}</div>

<p class="lead" style="text-align:center;"><a href="mailto:support@sumojerky.com">Email us</a>
or tweet us <a href="https://twitter.com/sumojerky">@SumoJerky</a> to get in touch today.</p>
<p align="center"><a>{{ 'images/Jerky_Sumo_Logo.png' | asset_url | img_tag(alt="Logo", class="img-responsive") }}</a></p>
<p class="lead" style="text-align:center;">High five!</p>
</footer>
</div>

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-40571508-2', 'auto');
ga('send', 'pageview');
</script>

<!--End Google Analytics -->

<!--Adroll -->

<script type="text/javascript">
adroll_adv_id = "6W555B3WFNFZ7E7PSYDDEJ";
adroll_pix_id = "H3W5YIWPI5EBLAMP5M3KO2";
(function () {
var oldonload = window.onload;
window.onload = function(){
__adroll_loaded=true;
var scr = document.createElement("script");
var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
scr.setAttribute('async', 'true');
scr.type = "text/javascript";
scr.src = host + "/j/roundtrip.js";
((document.getElementsByTagName('head') || [null])[0] ||
document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
if(oldonload){oldonload()}};
}());
</script>

<!--End Adroll -->

</body>
</html>