<!DOCTYPE html>
<html>
<head>
	<title>Sign up, today.</title>
</head>
<body>

<h1>Get your first, free SumoJerky deal today</h1>
<label>Name</label>
<input type="text" placeholder="e.g., Will Hunting">

<label>Email</label>
<input type="email" placeholder="e.g., goodwill@mit.edu">

<label>Password</label>
<input type="password" placeholder="e.g.,notyourfault12!!">

<button>Create New Account</button>

<p>Already have an account? <a href="#">Log in</a>.</p>

<footer>

<p>Copyright 2015, SumoJerky. All rights reserved.</p>

</footer>



</body>
</html>